body {
    margin: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.btn {
    background-color: wheat;
    color: black;
}

.btn:hover {
    background-color: steelblue;
    color: white;
}

a {
    color: steelblue;
}

h1 {
    color: steelblue;
}

h3, p {
    font-style: italic;
}

.jumbotron {
    background-image: url("../images/home1.jpg");
    background-size: cover;
    height: 650px;
    color: white;
    
}

.jumbotron h1 {
    padding-top: 350px;
}
