<h3>Add a new home for rent or purchase!</h3>

<button class="btn" ng-click="newRent.isEditable = !newRent.isEditable">Listing for RENT</button>
<button class="btn" ng-click="newBuy.isEditable = !newBuy.isEditable">Listing for PURCHASE</button>

<div ng-show="newRent.isEditable">
    <h4>Add new home for rent</h4>
    <input type="text" ng-model="vm.newRent.city" placeholder="location">
    <input type="number" ng-model="vm.newRent.rent" placeholder="rent">
    <input type="number" ng-model="vm.newRent.sqft" placeholder="square footage">
    <br>
    <br>
    <button class="btn" ng-click="vm.addNewRent(vm.newRent)">Add home</button>
</div>


<div ng-show="newBuy.isEditable">
    <h4>Add new home for purchase</h4>
    <input type="text" ng-model="vm.newBuy.city" placeholder="location">
    <input type="number" ng-model="vm.newBuy.cost" placeholder="cost">
    <input type="number" ng-model="vm.newBuy.sqft" placeholder="square footage">
    <br>
    <br>
    <button class="btn" ng-click="vm.addNewBuy(vm.newBuy)">Add home</button>
</div>


<!-- <div class="container">
        <div class="jumbotron text-center">
            <h1>Add A Movie</h1>
        </div>
        <div class="col-md-12">
            <input type="text" class="form-control" placeholder="add new movie title" ng-model="vm.newMovie.title">
            <br>
            <input type="text" class="form-control" placeholder="add image URL" ng-model="vm.newMovie.posterUrl">
            <br>
            <textarea type="text" class="form-control" rows="2" placeholder="description" ng-model="vm.newMovie.description"></textarea>
            <br>
            <button class="btn btn-default" ng-click="vm.addNewMovie(vm.newMovie)">add new movie</button>
        </div>
    </div> -->