<h3>Listings available for purchase:</h3>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Location</th>
            <th>Cost</th>
            <th>Sq. Footage</th>
            <th>Remove Listing</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="buy in vm.buy.list">
            <td>{{buy.city}}</td>
            <td>{{buy.cost}}</td>
            <td>{{buy.sqft}}</td>
            <td><button class="btn" ng-click="vm.deleteBuy(buy)">Delete</button></td>            
        </tr>
    </tbody>
</table>