<h3>Listings available for rent:</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Location</th>
            <th>Rent</th>
            <th>Sq. Footage</th>
            <th>Remove Listing</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="rent in vm.rent.list">
            <td>{{rent.city}}</td>
            <td>{{rent.rent}}</td>
            <td>{{rent.sqft}}</td>
            <td><button ng-click="vm.deleteRent(rent)">X</button></td>    
        </tr>
    </tbody>
</table>